<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
    <a href="/login/mediawiki">With your meta.wikimedia.org MediaWiki account</a>
<% } else { %>
	<h2>Hello, <a href="/account"><%= user.displayName %></a>.</h2>
<% } %>
